@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}


*, *::before, *::after {
  box-sizing: border-box;
  font-family: "figtree", 'sans-serif';
}

* {
  margin: 0;
}


.figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

a{
    text-decoration-thickness: 10%;
    text-underline-offset: 8px;
    cursor: default;
}

a:hover{
  text-decoration: underline;

}

a.active{
  text-decoration : underline;
}

.hero-carousel {
  /* @apply carousel w-full rounded-3xl h-[31.25rem] md:h-[43.75rem] shadow-2xl overflow-hidden flex items-center justify-center;  */
}


.hero-slide {
  /* @apply carousel-item relative w-full h-full flex items-center justify-center; */
  background-size: cover;
  background-position: center;
}

.hero1 { background-image: url('/hero1.png'); }
.hero2 { background-image: url('/hero2.png'); }
.hero3 { background-image: url('/hero3.png'); }

.hero-overlay {
  @apply absolute inset-0 bg-gradient-to-t from-black/80 via-black/40 to-transparent flex flex-col justify-end p-8 md:p-16 text-white;
}

.hero-title {
  @apply text-4xl md:text-6xl font-bold mb-3;
}

.hero-text {
  @apply text-lg md:text-2xl max-w-2xl;
}

.category-card{
  box-shadow: rgba(100, 100, 111, 0.2) 0rem 0.4375rem 1.8125rem 0rem;
  width: 18.75rem;
  height: 25rem;
  border-radius: 1.5rem;
  background-color: #ffffff81;
  transition: transform ease-in 0.1s;
}

.category-card:hover{
  transform: scale(1.05);
  background-color: aliceblue;
}

.recent-details-button{
  transition: transform 0.1s ease-in;
}

.recent-details-button:hover{
  transform: scale(1.02);
  filter: brightness(103%);
}

.recent-card{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}